.textEditorModalContainer .modal-content{
    width: 150%;
}

.textEditorModalBody{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalPostThreadButton {
    background: radial-gradient(246.85% 2908.29% at -120.08% 147.3%, #747AF0 0%, #444AAA 100%);
    background: -moz-radial-gradient(246.85% 2908.29% at -120.08% 147.3%, #747AF0 0%, #444AAA 100%);
    background: -webkit-radial-gradient(246.85% 2908.29% at -120.08% 147.3%, #747AF0 0%, #444AAA 100%);    
    border-radius: 30px;
    border: none;
    color: #fff;
    font-family: "Gilroy-Medium";
    font-size: 20px;
    padding: 10px 50px;
    margin-top: 5%;
    margin-bottom: 2%;
}